<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Digital Salons</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

		<!-- CSS here -->
            <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
            <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
            <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
            <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
            <link rel="stylesheet" href="{% static 'css/slick.css' %}">
            <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
   </head>

   <body>

       {% include 'customer_header.html' %}

    <main>
          <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="single-slider slider-height2 d-flex align-items-center" data-background="{% static 'img/best.png' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>CUSTOMER</h2>
                            <h2>Welcome To Digital salon</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    </main>
   <footer>
<!--         Footer Start-->
<div class="footer-area footer-padding">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
               <div class="single-footer-caption mb-50">
                 <div class="single-footer-caption mb-30">
                   <!--   &lt;!&ndash; logo &ndash;&gt;-->
                     <div class="footer-logo">
                         <a href="index.html"><img src="{% static 'img/logo/form-iocn.jpg' %}" alt=""></a>
                     </div>
                     <div class="footer-tittle">
                         <div class="footer-pera">
                             <p>Saloon appointment bookings became digital now!</p>
                        </div>
                     </div>
                   <!--  &lt;!&ndash; social &ndash;&gt;-->
                     <div class="footer-social">
                         <a href="#"><i class="fab fa-facebook-square"></i></a>
                         <a href="#"><i class="fab fa-twitter-square"></i></a>
                         <a href="#"><i class="fab fa-linkedin"></i></a>
                         <a href="#"><i class="fab fa-pinterest-square"></i></a>
                     </div>
                 </div>
               </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-5">
                <div class="single-footer-caption mb-50">
                    <div class="footer-tittle">
                        <h4>Company</h4>
                        <ul>
                            <li><a href="{% url 'customer_home' %}">Home</a></li>
                            <li><a href="{% url 'customer_salon_display' %}">Salons</a></li>

                          <!--  <li><a href="#">Cases</a></li>-->
                            <li><a href="{% url 'customer_salon_booking_display' %}">  Your bookings</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                <div class="single-footer-caption mb-50">
                    <div class="footer-tittle">
                        <h4>Services</h4>
                        <ul>
                            <li><a href="#">Haircut</a></li>
                            <li><a href="#">Makeup</a></li>
                            <li><a href="#">Pedicure</a></li>
                            <li><a href="#">Trimming</a></li>
                         <!--   <li><a href="#">Apartment Cleaning</a></li>-->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                <div class="single-footer-caption mb-50">
                    <div class="footer-tittle">
                        <h4>Get in Touch</h4>
                        <ul>
                         <li><a href="#">9876543210</a></li>
                         <li><a href="#"> Demomail@gmail.com</a></li>
                         <li><a href="#">JNTUH, Hyd</a></li>
                     </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}
       <!-- footer-bottom aera -->

       <!-- Footer End-->
   </footer>

	<!-- JS here -->

		<!-- All JS Custom Plugins Link Here here -->
        <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/slick.min.js' %}"></script>
        <!-- Date Picker -->
        <script src="{% static 'js/gijgo.min.js' %}"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="{% static 'js/wow.min.js' %}"></script>
		<script src="{% static 'js/animated.headline.js' %}"></script>
        <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
        <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
		<script src="{% static 'js/jquery.sticky.js' %}"></script>

        <!-- contact js -->
        <script src="{% static 'js/contact.js' %}"></script>
        <script src="{% static 'js/jquery.form.js' %}"></script>
        <script src="{% static 'js/jquery.validate.min.js' %}"></script>
        <script src="{% static 'js/mail-script.js' %}"></script>
        <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>

		<!-- Jquery Plugins, main Jquery -->
        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>

    </body>
</html>